{% extends 'app1/base.html' %}

{% block content %}

<br>
    <br>
    <br>
    <br>
    <br>
    <br>
<div class="row justify-content-center mt-5">
        <div class="col-md-7 text-center">

                 <h1>Allure Institute of Makeup Artistry</h1>
                 <br>
            <p>Redefining beauty education, one <u>artist</u> at a time.
              This app was built with a single goal: <b><i>To provide the maximum resources to ensure your success</i></b>
<br>
            Let's get started</p>
        <a role="button" class="btn btn-primary btn-lg" href="{% url 'signupuser' %}">Start</a>
        </div>
    </div>

{% endblock %}
