{% extends 'app1/sofiebase.html' %}

{% block content %}

<br>
    <br>
    <br>
    <br>
    <br>
    <br>
<div class="row justify-content-center mt-5">
        <div class="col-md-7 text-center">

               <h1>Welcome to <b>sofie</b></h1>
               <br>
            <p>Helping make <u>trading and investing</u> fun!
              <br>
              <b><i>Let's get started!</i></b></p>
              <br>
              <h3>Get Stock Summary:</h3>
              <form action="stocksumm">
                Enter a ticker symbol (Ex. {{eg}}): <input type="text" name="symbol">
                <input type="submit">
                <br>
                <br>
                <!-- <h3>Request a Chart</h3>
                <form action="getchart">
                  Enter a ticker symbol (Ex. {{eg}}): <input type="text" name="symbol"><br><br>
                  Enter a Time Interval (1m|2m|5m|15m|60m|1d): <input type="text" name="interval"><br><br>
                  Enter a ticker symbol (1d|5d|1mo|3mo|6mo|1y|2y|5y|10y|ytd|max): <input type="text" name="range"><br><br>
                  <input type="submit"> -->
        </div>
    </div>

{% endblock %}
